.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
}

.hero{
    width: 100%;
    height: 100vh; 
    position: relative;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.hero .content{
    max-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    transition: .5s;
}

.hero .content h1{
    margin: 15px 0;
    line-height: 100%;
    font-size: 3rem;
    /* color: #333; */
}

.hero .content .p{
    line-height: 120%;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: #FF014F;
}

.content p{
    font-size: 1.1rem !important;
    font-weight: 500 !important;
}

.content h2{
    line-height: 120%;
    color: #fff;
    font-size: 2rem;
    padding-bottom: 15px;
}

.content h2 span{
    color: #00E8F8;
}

.hero__mouse-scroll-cont{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.mouse{
    width: 25px;
    height: 40px;
    border: 2px solid steelblue;
    /* border: 2px solid #8f8c8c; */
    border-radius: 60px;
    overflow: hidden;
    position: relative;
}

.mouse::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #8f8c8c; */
    background-color: steelblue;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel{
    0%{
        top: 5px;
        opacity: 1;
        transition: ease-in-out;
    }

    100%{
        top: 26px;
        opacity: 0;
        transition: ease-out;
    }
}

@media screen and (max-width:800px){
    .hero .content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 25%;
    }
}

@media screen and (max-width:640px){
    .hero .content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30%;
    }
}

@media screen and (max-width: 550px){
    .hero .content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 35%;
    }
}

@media screen and (max-width: 450px){
    .hero .content{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 40%;
    }
}

.before-social{
    color: #fff;
    margin-top: 20px;
}

/* .before-social h4{
    margin-left: 10px;
} */

.socials{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    /* margin-top: 30px;    */
}

.socials a{
    color: #00E8F8;
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #00E8F8;
}

.social-icon{
    width: 30px;
    height: 30px;
    margin: 1px 1px 0;   
    padding: .2rem; 
}

.socials a:hover{
    color: #081b29;
    background-color: #00E8F8;
    box-shadow: 0 0 20px #0ef;
}
